<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>

<h2>Add New Book</h2>

<form th:action="@{/books/add}" th:object="${book}" method="post">
    <div>
        Title: <input type="text" th:field="*{title}" required>
    </div>
    <div>
        Author: <input type="text" th:field="*{author}" required>
    </div>
    <div>
        Price: <input type="number" step="0.01" th:field="*{pubPrice}" required>
    </div>
    <div>
        Copies: <input type="number" th:field="*{copies}" required>
    </div>

    <button type="submit">Save</button>
</form>

<br>
<a th:href="@{/books}">Back</a>

</body>
</html>
